#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

#about .item{
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .item p{
    color: var(--grey);
    font-size: 1.5vw;
    text-align: center;
    line-height: 2.4vw;
    margin: 0;
    text-shadow: var(--text-shadow);
}

#about .item svg{
    fill: var(--grey);
    filter: drop-shadow(var(--filter-shadow));
    width: 10vw;
    height: 10vw;
    margin-bottom: 2.15vw;
}

@media (max-aspect-ratio: 1/1){
    #about{
        flex-direction: column;
        padding: 10vh 0;
    }
    
    #about .item{
        width: 31.2vh;
    }
    
    #about .item p{
        font-size: 2.1vh;
        line-height: 3.4vh;
    }
    
    #about .item svg{
        width: 12vh;
        height: 12vh;
        margin-bottom: 2.2vh;
    }    
}