@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--white);
    letter-spacing: 0.02em;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.mint{
    color: var(--mint) !important;
}

.hidden{
    display: none;
}